/* General body styles */
body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: rgba(255,255,255, 0.1);
    overflow: hidden;
    
}
header h1{
    float: left;
    margin-left: 50px;
    color: black;
    font-size: 20px;
    
}
header nav{
    float: right;
}
header a{
	font-size: 16px;
	color: black;
    text-decoration:none;
    display:inline-block;
        margin-top: 15px;
        margin-right:30px;
	margin-bottom: 0px;
	padding: 10px 15px;
    transition: color 0.3s;
	border-radius: 5px;
}

header a:hover{
    background-color:darkgray;
}

/* Header and section titles */
h1 {
    color: #000;
    font-size: 2em; /* Adjust font size if needed */
    margin: 0;
}

/* Title section styles */

.title-section {
    position: relative;
    background-image: url("C:/HTML/FinalProject/images/BackGrounds/fuji.jpeg");
    background-size: cover; /* Ensures the background image covers the section */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
	height: 400px;
    align-items: center;
    justify-content: center;
    color: white;
	vertical-align: middle;
    text-align: center;
    z-index: 0; /* Ensure the section has a stacking context */
	padding: 10%;
}

.title-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.5); /* Dark gray with opacity */
    z-index: -1; /* Place the overlay behind the content */
}




.movie {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover; /* Ensures the video covers the entire section */
}

.title-section h2 {
    margin: 0;
    font-size: 4.0em; 
	padding: 50px;/* Adjust title font size */
}

/* Description section styles */
.description-section {
   margin-top: 100px;
}

.description-item {
    margin-bottom: 50px;
    text-align: left;
}

.description-item img {
    width: 100%;
    height: auto;
   
    margin-bottom: 20px;
}

.description-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
	text-align: center;
}

.description-item p {
 max-width: 40%;
    margin: 0 auto;
	font-size: 17px;
	text-align: justify;
	line-height: 1.5;
	 margin-bottom: 50px;
	font-family:sans-serif;

}
.more-info-link {
    font-family:sans-serif;
    font-size: 17px;
    text-decoration: none;
    color:black;
    transition: background-color 0.3s;
  float:right;
	margin-right: 30%;
    margin-bottom: 100PX;
}

.more-info-link:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Footer styles */
footer {

	margin-top: 200px;
    text-align: center;
	    display: flex;
    justify-content: center;
    align-items: center;
	
    }
    


